@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-weight:normal;
	background:#eaedf2;	
}

h1, h2, h3, h4, h5, h6, ul, li, input, form, select, p{
	margin:0;
	padding:0;	
}

ul{
	margin:0;
	padding:0;	
}

ul li{
	list-style:none;	
}

a{
	text-decoration:none;	
}

a img{
	border:none;	
}

img{
	max-width:100%;
	height:auto;	
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'agfor25_0-webfont';
    src: url('../fonts/agfor25_0-webfont.eot');
    src: url('../fonts/agfor25_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agfor25_0-webfont.woff') format('woff'),
         url('../fonts/agfor25_0-webfont.ttf') format('truetype'),
         url('../fonts/agfor25_0-webfont.svg#ag_foreigner_light-plainMd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'agfor27_0-webfont';
    src: url('../fonts/agfor27_0-webfont.eot');
    src: url('../fonts/agfor27_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agfor27_0-webfont.woff') format('woff'),
         url('../fonts/agfor27_0-webfont.ttf') format('truetype'),
         url('../fonts/agfor27_0-webfont.svg#ag_foreignerulb-obliquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clr{
	clear:both;	
}


img{
	max-width:100%;
	height:auto;	
}

header{
	margin:0;
	padding:0%;
	width:100%;
	background: #2cc9d8; /* Old browsers */
	background: -moz-linear-gradient(top, #2cc9d8 0%, #2bc7d6 18%, #1cb8c5 82%, #1cb8c5 85%, #18b9cd 87%, #23b4c5 89%, #1eb7bf 91%, #1bb7c3 93%, #1db2c6 95%, #16bac6 96%, #1fb7bc 98%, #76d2df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2cc9d8), color-stop(18%,#2bc7d6), color-stop(82%,#1cb8c5), color-stop(85%,#1cb8c5), color-stop(87%,#18b9cd), color-stop(89%,#23b4c5), color-stop(91%,#1eb7bf), color-stop(93%,#1bb7c3), color-stop(95%,#1db2c6), color-stop(96%,#16bac6), color-stop(98%,#1fb7bc), color-stop(100%,#76d2df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2cc9d8 0%,#2bc7d6 18%,#1cb8c5 82%,#1cb8c5 85%,#18b9cd 87%,#23b4c5 89%,#1eb7bf 91%,#1bb7c3 93%,#1db2c6 95%,#16bac6 96%,#1fb7bc 98%,#76d2df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2cc9d8 0%,#2bc7d6 18%,#1cb8c5 82%,#1cb8c5 85%,#18b9cd 87%,#23b4c5 89%,#1eb7bf 91%,#1bb7c3 93%,#1db2c6 95%,#16bac6 96%,#1fb7bc 98%,#76d2df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2cc9d8 0%,#2bc7d6 18%,#1cb8c5 82%,#1cb8c5 85%,#18b9cd 87%,#23b4c5 89%,#1eb7bf 91%,#1bb7c3 93%,#1db2c6 95%,#16bac6 96%,#1fb7bc 98%,#76d2df 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2cc9d8 0%,#2bc7d6 18%,#1cb8c5 82%,#1cb8c5 85%,#18b9cd 87%,#23b4c5 89%,#1eb7bf 91%,#1bb7c3 93%,#1db2c6 95%,#16bac6 96%,#1fb7bc 98%,#76d2df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cc9d8', endColorstr='#76d2df',GradientType=0 ); /* IE6-9 */	
}


header .logo{
	float:left;
	width:34px;
	margin:0 .8em 0 0;	
}

header .search_sec{
	width:38%;
	margin:0 2.8em 0 0;
	position:relative;
	float:left;	
}

header .search_sec input{
	width:93%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	height:34px;
	outline:none;
	border:none;
	color:#9fa4a4;
	padding:0 5% 0 2%;
	font:normal 13px 'open_sansregular';
}

header .search_sec label{
	position: absolute;
    right: 8px;
    top: 7px;
}

header .icon{
	width:178px;
	margin:0 2.8em 0 0;
	float:left;
	 padding: 8px 0 0;	
}

header .icon a{
	margin:0 18px 0 0;	
}

header .like_sec{
	float:left;
	width:203px;	
}

header .like_sec ul{
	margin:0;
	padding:0;	
}

header .like_sec ul li{
	display:inline-block;
	text-align:center;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#ffffff;
	margin: 0 20px 0 0;	
}

header .like_sec ul li img{
	display:block;
	margin:0 auto;	
}

header .log_sec{
	float:right;
	width:140px;
	padding:5px 0 0 0;		
}

header .log_sec span{
	background: url("../images/logout.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font: 14px/29px 'open_sansregular';
	
}


.container{
	margin:0 auto;
	padding:0;
	width:90%;	
}

.container .left_sec{
	width:22%;
	float:left;
	margin:0 2% 0 0;	
}

.container .left_sec .profile_sec{
	background:#f6f6f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px 1px #ccc;
	-webkit-box-shadow: 0 0 2px 1px #ccc;
	box-shadow: 0 0 2px 1px #ccc;
	margin:0 0 16px 0;
}

.container .left_sec .profile_sec .pro_left{
	float:left;
	padding:10px;
	width:77px;
	border-right:solid 1px #e8e8e8;	
}

.container .left_sec .profile_sec .pro_rt{
	float:right;
	width:167px;	
}

.container .left_sec .profile_sec .pro_rt h3{
	border-bottom:solid 1px #e8e8e8;
	color:#1eb9c7;
	padding:12px 0 5px 18px;
	font: 18px/20px 'open_sansregular';		
}

.container .left_sec .profile_sec .pro_rt h3 span{
	font-size:13px;
	display:block;
}

.container .left_sec .profile_sec .pro_rt ul.inbox{
	margin:0;
	padding:0;
	overflow:hidden;	
}

.container .left_sec .profile_sec .pro_rt ul.inbox li{
	float:left;
	padding:2px 15px;
	border-left:solid 1px #e8e8e8;
}

.container .left_sec .profile_sec .pro_rt ul.inbox li h4{
	text-align:center;
	color:#29c4d3;
	font: 15px 'open_sansregular';			
}

.container .left_sec .profile_sec .pro_rt ul.inbox li h4 span{
	color:#747474;
	display:block;
	font: 11px 'open_sansregular';			
}

.container .left_sec .profile_sec .pro_rt ul.inbox li:first-child{
	border:none;	
}

.container .left_sec .feature_sec{
	background:#f6f6f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px 1px #ccc;
	-webkit-box-shadow: 0 0 2px 1px #ccc;
	box-shadow: 0 0 2px 1px #ccc;
	margin:0 0 16px 0;
}

.container .left_sec .feature_sec h2{
	background: #2cc9d8; /* Old browsers */
	background: -moz-linear-gradient(top, #2cc9d8 0%, #2bc7d6 18%, #1cb8c5 82%, #1cb8c5 85%, #18b9cd 87%, #23b4c5 89%, #1eb7bf 91%, #1bb7c3 93%, #1db2c6 95%, #16bac6 96%, #1fb7bc 98%, #76d2df 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2cc9d8), color-stop(18%,#2bc7d6), color-stop(82%,#1cb8c5), color-stop(85%,#1cb8c5), color-stop(87%,#18b9cd), color-stop(89%,#23b4c5), color-stop(91%,#1eb7bf), color-stop(93%,#1bb7c3), color-stop(95%,#1db2c6), color-stop(96%,#16bac6), color-stop(98%,#1fb7bc), color-stop(100%,#76d2df)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2cc9d8 0%,#2bc7d6 18%,#1cb8c5 82%,#1cb8c5 85%,#18b9cd 87%,#23b4c5 89%,#1eb7bf 91%,#1bb7c3 93%,#1db2c6 95%,#16bac6 96%,#1fb7bc 98%,#76d2df 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2cc9d8 0%,#2bc7d6 18%,#1cb8c5 82%,#1cb8c5 85%,#18b9cd 87%,#23b4c5 89%,#1eb7bf 91%,#1bb7c3 93%,#1db2c6 95%,#16bac6 96%,#1fb7bc 98%,#76d2df 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2cc9d8 0%,#2bc7d6 18%,#1cb8c5 82%,#1cb8c5 85%,#18b9cd 87%,#23b4c5 89%,#1eb7bf 91%,#1bb7c3 93%,#1db2c6 95%,#16bac6 96%,#1fb7bc 98%,#76d2df 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2cc9d8 0%,#2bc7d6 18%,#1cb8c5 82%,#1cb8c5 85%,#18b9cd 87%,#23b4c5 89%,#1eb7bf 91%,#1bb7c3 93%,#1db2c6 95%,#16bac6 96%,#1fb7bc 98%,#76d2df 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cc9d8', endColorstr='#76d2df',GradientType=0 ); /* IE6-9 */
	color:#fff;	
	font:normal 18px/40px 'open_sansregular';
	padding:0 0 0 22px;	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;			
}

.container .left_sec .feature_sec ul.cat{
	margin:0;
	padding:0;	
}

.container .left_sec .feature_sec ul.cat li{
	display:block;
	padding:0 20px;
	line-height:38px;
	border-bottom:solid 1px #e8e8e8;	
}

.container .left_sec .feature_sec ul.cat li a{
	display:block;
	color:#919191;
	overflow:hidden;
	font:normal 15 'open_sansregular';	
}

.container .left_sec .feature_sec ul.cat li a:hover{
	color:#2ac5d4;		
}

.container .left_sec .feature_sec ul.cat li:last-child{
	border-bottom:none;	
}

.container .left_sec .feature_sec ul.cat li:first-child a{
	background:url(../images/message.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:first-child a:hover{
	background:url(../images/message_h.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(2n) a{
	background:url(../images/event.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(2n) a:hover{
	background:url(../images/event_h.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(3n) a{
	background:url(../images/photo.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(3n) a:hover{
	background:url(../images/photo_h.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(4n) a{
	background:url(../images/globe.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(4n) a:hover{
	background:url(../images/globe_h.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(5n) a{
	background:url(../images/demo.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(5n) a:hover{
	background:url(../images/demo_h.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(6n) a{
	background:url(../images/helth.png) no-repeat right; 	
}

.container .left_sec .feature_sec ul.cat li:nth-child(6n) a:hover{
background:url(../images/helth_h.png) no-repeat right; 			
}

.container .left_sec .feature_sec ul.cat li:hover{
	background:#e0f1f3;
	border-left:solid 3px #1fb9c8;
	padding:0 20px 0 17px;
}

/*--------------------------------------------------Right section start here--------------------------*/

.container .right_sec{
	float: left;
    margin: 0;
    padding: 0;
    width: 76%;
}


.container .right_sec .tabing_part{
	margin:0 0 10px 0;
	padding:0;	
}

.left_p{
	width:60%;
	float:left;	
	margin:0 20px 0 0;
}

.left_p h3{
	margin:0 0 12px 0;
	padding:0;
	color:#919191;
	overflow:hidden;
	font:normal 24px 'open_sansregular';		
}

.left_p h3 img{
	float:left;
	padding:0 15px 0 0;	
}

.left_p h3 span{
	float:left;
	padding:15px 0 0 0;	
}

.left_p h4{
	font:normal 18px 'open_sansregular';
	color:#919191;
	padding:0 0 14px 0;			
}

.left_p p{
	font:normal 14px 'open_sansregular';
	color:#919191;
	padding:0 0 20px 0;			
}

.right_p{
	float:left;
	width:316px;
	margin:0;	

	overflow:hidden;
	height:400px;


}

.add_sec{
	width:218px;
	float:left;	
}

.bottom_sec{
	background:#f6f6f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px 1px #ccc;
	-webkit-box-shadow: 0 0 2px 1px #ccc;
	box-shadow: 0 0 2px 1px #ccc;
	margin:0 0 16px 0;
	padding:30px;	
}

.bottom_sec .left_add{
	width:276px;
	float:left;
	border-right:solid 1px #e5e5e5;
	padding:0 12px 0 0;
	margin:0 12px 0 0;	
}

.bottom_sec .left_add .img_box{
	float:left;
	width:72px;
	margin:0 18px 0 0;	
}

.bottom_sec .left_add .rt_box{
	float:left;
	width:186px;	
}		

.bottom_sec .left_add .rt_box h3{
	color:#474747;
	font:normal 30px 'agfor25_0-webfont';
	padding:0 0 10px 0;	
}

.bottom_sec .left_add .rt_box p{
	color:#474747;
	font:normal 14px 'agfor25_0-webfont';	
}

.bottom_sec .right_add{
	padding:0;
	margin:0;
	width:256px;
	border:none;	
}

.bottom_sec .right_add .rt_box{
	float: left;
    width: 165px;
}

/*--------------------------------------------------Responcive-------------------------------------------*/

@media only screen and (max-width:1024px){

header{
	width:90%;
}

.bottom_sec .left_add{
	border:none;
}

.TabbedPanelsTabSelected{
	top:11px!important;
	padding: 15px 10px 13px!important;	
}

.TabbedPanelsTab{
	display: block;
    min-height: 92px !important;
    width: 66px;
}

.container .left_sec .profile_sec .pro_left{
	border:none;
	padding-bottom:0;
}

.container .left_sec .profile_sec .pro_rt{
	width:202px;	
}
	
}


@media only screen and (max-width:980px) {
header{
	width:90%;
}

.bottom_sec .left_add{
	border:none;
}

.TabbedPanelsTabSelected{
	top:11px!important;
	padding: 15px 10px 13px!important;	
}

.TabbedPanelsTab{
	display: block;
    min-height: 92px !important;
    width: 66px;
}

header .icon{
	width:207px;	
}

.container .left_sec .profile_sec .pro_left{
	border:none;
	padding-bottom:0;
}

.container .left_sec .profile_sec .pro_rt{
	width:194px;	
}

}

@media only screen and (max-width:768px) {
header{
	width:90%;

}

.container{
	width:96%;
	margin:2% auto;
	padding:0;	
}

.TabbedPanelsTabSelected{
	top:11px!important;
	padding: 15px 10px 13px!important;	
}

.TabbedPanelsTab{
	display: block;
    min-height: 92px !important;
    width: 66px;
}

header .like_sec{
	width:40%;
	padding: 10px 0 0;	
}

.container .left_sec .profile_sec .pro_left{
	border:none;
	padding-bottom:0;	
}

header .log_sec {
    padding: 14px 0 0;
}

header .search_sec{
	width:65%;	
}

header .icon{
	width:148px;
	margin:0;	
}

.bottom_sec .left_add{
	border:none;
	width:424px;
	margin:0 0 12px 0;
	padding: 10px 0 0;	
}

.bottom_sec .left_add .rt_box{
	width:276px;	
}

.container .left_sec .profile_sec .pro_rt {
    width: 172px;
}
	
}

@media only screen and (max-width:568px) {
header{
	width:90%;

}

.container{
	width:96%;
	margin:2% auto;
	padding:0;	
}

header .like_sec{
    padding: 10px 0 0
}

header .search_sec{
	width:82%;	
}

header .icon{
	padding:22px 0 0 0;	
}

.container .left_sec{
	width:30%;	
}

header .log_sec{
	float:left;	
}

.TabbedPanelsTabSelected{
	top:11px!important;
	padding: 15px 10px 13px!important;	
}

.TabbedPanelsTab{
	display: block;
    min-height: 92px !important;
    width: 66px;
}

.container .right_sec{
	width:68%;	
}

.bottom_sec .left_add{
	border:none;
	margin:0 0 12px 0;	
}
}

@media only screen and (max-width:480px) {
header{
	width:90%;

}

header .search_sec{
	width:80%;
	margin:0;		
}

header .icon{
	margin:10px 0;
	width:100%;	
}

.container{
	width:96%;
	margin:2% auto;
	padding:0;
}

.container .left_sec{
	width:89%;
	margin:0 auto;
	float:none;	
}

.container .left_sec .profile_sec .pro_rt{
	width: 303px;	
}

.container .right_sec{
	width:100%;	
}




header .like_sec {
    width: 67%;
}	
}

@media only screen and (max-width:320px) {
header{
	width:90%;
}

header .search_sec{
	width:80%;
	margin:0;	
}

header .log_sec{
	float:left;	
}

.container{
	width:96%;
	margin:2% auto;
	padding:0;
}

.container .left_sec{
	width:89%;
	margin:0 auto;
	float:none;		
}

.container .left_sec .profile_sec .pro_rt{
	width: 169px;	
}

.bottom_sec .left_add{
	width:260px;	
}	

.bottom_sec .right_add{
	width:247px;	
}

header .like_sec{
	width:100%;	
}
}

