			<div class="getAppNow">
				<div class="botBorder"><h2><b class="fa fa-th"></b> Online Pending Appointments</h2></div>
				<div class="getAppInner" style="height: 650px;">
					
					<div 
					data-ng-include src="'resources/app/views/body-manequen.html'" 
					data-ng-if = "step == 1 && loggedUserGender =='MALE'" class="tabing_part col-sm-4">
					</div>
					
					<div 
					data-ng-include src="'resources/app/views/girl-body-manequen.html'" 
					data-ng-if = "step == 1 && loggedUserGender=='FEMALE'" class="tabing_part col-sm-4">
					</div>
					
					<div data-ng-class="step == 1 ? 'col-sm-8' : 'col-sm-12'" class="mnqnRight">
					<div id="step1" class="stepsbg" style="display: block;">
						<br class="clear">
    					<div class="steps">
    						<hr>
    						<a href="#" data-ng-class="step == 1 ? 'active' : ''"><b>1</b> <br> Select Symptoms</a>
    						
    						<a data-ng-show = "step == 1" class="sub-step" 
    						data-ng-click="setcurrentSymptomFormIndex(0)" href="#" ><b>a</b> <br></a>
    						
    						<a data-ng-show = "step == 1" class="sub-step" 
    						data-ng-class="(symptomFormArray.length < 2) ? 'sub-step-disabled' : ''" 
    						data-ng-click="(symptomFormArray.length < 2) ? '' : setcurrentSymptomFormIndex(1)" href="#" ><b>b</b> <br></a>
    						
    						<a data-ng-show = "step == 1" class="sub-step sub-step-last"
    						data-ng-class="(symptomFormArray.length < 3) ? 'sub-step-disabled' : ''" 
    						data-ng-click="(symptomFormArray.length < 3) ? '' : setcurrentSymptomFormIndex(2)" href="#" ><b>c</b> <br></a>
    						
    						<a data-ng-class="step == 2 ? 'active' : ''" href="#"><b>2</b> <br> Make Appointment </a>
    						<a data-ng-class="step == 3 ? 'active' : ''" href="#"><b>3</b> <br> Confirmation </a>
    						<a data-ng-class="step == 4 ? 'active' : ''" href="#" id="custom-Step"><b>4</b> <br> Done </a>
    					
    					</div>
    					<div  data-ng-show="step == 1" data-ng-include src="'resources/app/views/symptom-selection.html'" class="formArea">
    					</div>
					    
					    <div data-ng-show="step == 2" data-ng-include src="'resources/app/views/make-appointment.html'" class="formArea">
					    </div>
					    
					    <div data-ng-show="step == 3" data-ng-include src="'resources/app/views/confirm-appointment.html'" class="formArea">
					    </div>
					    
					    <div data-ng-show="step == 4" data-ng-include src="'resources/app/views/appointment-success.html'" class="formArea">
					    </div>
					</div><!-- step1 -->
   				</div>
				</div>
            </div>
            
<style>

#patientDashboardPage .getAppInner .mnqnRight .steps .sub-step b {
border: 3px solid #1ED62D;
background: #39DB3F;
}

 #custom-Step {

	margin: -16px 0% 0 -4% !important;

} 

</style>
