<p><b>LOCATION:</b> Select other Area (s) if needed <br>
    						
    						<form name="form" role="form" id="symptom-form">
    							<div class="form-group">
									<label>Level One</label>
									<select required="required"
										data-ng-options="area.value as area.label for area in levelOneOption"
										data-ng-change="setLevelOne(symptomFormArray[currentSymptomFormIndex].levelOneArea)" 
										data-ng-model="symptomFormArray[currentSymptomFormIndex].levelOneArea">
										<option value="">-- Select--</option>
									</select>
								</div>
    							<!-- <div class="form-group col-sm-5 col-sm-offset-1">
									<label>Level Two</label>
									<select required="required"
										data-ng-model="symptomFormArray[currentSymptomFormIndex].levelTwoArea" 
										data-ng-change="setLevelTwo(symptomFormArray[currentSymptomFormIndex].levelTwoArea,symptomFormArray[currentSymptomFormIndex].levelOneArea)"  
										data-ng-options="area.value as area.text for area in levelTwoOption">
										<option value="">-- Select--</option>
									</select>
								</div>
								 -->
								<p><b>Please use details below to describe <b class="textRed" 
								ng-bind="symptomFormArray[currentSymptomFormIndex].selectedLevelOneText"></b> symptoms:</b></p>
    						
    							<div class="form-group">
									<label>When Does This Happen</label>
									<select required="required" data-ng-model="symptomFormArray[currentSymptomFormIndex].whenThisHappen" 
											data-ng-change="setWhenThisHappenSelectedText()"  
											data-ng-options="area.id as area.description for area in symptomFormArray[currentSymptomFormIndex].metadata.whenThisHappen">
											<option value="">-- Select--</option>
									</select>
								</div>
								<div class="form-group">
									<label>Describe Pain</label>
									<select required="required" data-ng-model="symptomFormArray[currentSymptomFormIndex].painArea" 
											 data-ng-change="setDescribePainSelectedText()" 	
									         data-ng-options="area.id as area.description for area in symptomFormArray[currentSymptomFormIndex].metadata.painArea">
									         <option value="">-- Select--</option>
									</select>
									
								</div>
								<div class="form-group">
									<label>Pain Lasts</label> 
									<br>
									<div class="col-sm-5">
										<select required="required" data-ng-model="symptomFormArray[currentSymptomFormIndex].painLasts" 
									         data-ng-options="p.text as p.value for p in painLastsOptions">
									         <option value="">-- Select--</option>
										</select>
									</div>
									<div class="col-sm-offset-1 col-sm-6">
										<div class="btn-group btn-group-xs">
											<label class="btn btn-default" ng-class="(symptomFormArray[currentSymptomFormIndex].painLastsUnit == 'seconds') ? ['active','selected']:''">
											    <input style=" display: none; " type="radio" data-ng-model="symptomFormArray[currentSymptomFormIndex].painLastsUnit" value="seconds" > Seconds
											  </label>
											  <label class="btn btn-default" ng-class="(symptomFormArray[currentSymptomFormIndex].painLastsUnit == 'minutes') ? ['active','selected']:''">
											    <input style=" display: none; " type="radio" data-ng-model="symptomFormArray[currentSymptomFormIndex].painLastsUnit" value="minutes" > Minutes
											  </label>
											  <label class="btn btn-default" ng-class="(symptomFormArray[currentSymptomFormIndex].painLastsUnit == 'hours') ? ['active','selected']:''">
											    <input style=" display: none; " type="radio" data-ng-model="symptomFormArray[currentSymptomFormIndex].painLastsUnit" value="hours"> Hours
											  </label>
											  <label class="btn btn-default" ng-class="(symptomFormArray[currentSymptomFormIndex].painLastsUnit == 'days') ? ['active','selected'] :''">
											    <input style=" display: none; " type="radio" data-ng-model="symptomFormArray[currentSymptomFormIndex].painLastsUnit" value="days"> Days
											  </label>
										</div>
									</div>
									
								<br class="clear">
								</div>
								<div class="severity form-group">
									<b class="fa fa-smile-o"></b>
									<div class="scrollarArea">
										<slider floor="0" ceiling="100" step="1" ng-init="symptomFormArray[currentSymptomFormIndex].severity=0;" ng-model="symptomFormArray[currentSymptomFormIndex].severity" translate="severityFormatting"></slider>
									</div>
									<b class="fa fa-frown-o"></b>
								
								<br class="clear">	
								</div> 
								<div class="form-group  col-sm-6">
									<label>Relieved By</label> 
									<br>
									<div>
										<select 
										data-ng-model="symptomFormArray[currentSymptomFormIndex].relievedBy"  
										data-ng-change="setRelievedBySelectedText()"
										data-ng-options="area.id as area.description for area in symptomFormArray[currentSymptomFormIndex].metadata.relievedBy">
										<option value="">-- Select--</option>
									</select>
									</div>
								<br class="clear">
								</div>
								<div class="form-group  col-sm-offset-1 col-sm-5">
									<label>Made Worse By</label>
									<select 
									data-ng-model="symptomFormArray[currentSymptomFormIndex].worseBy"
									data-ng-change="setMadeWorseBySelectedText()"  
									data-ng-options="area.id as area.description for area in symptomFormArray[currentSymptomFormIndex].metadata.worseBy">
										<option value="">-- Select--</option>
									</select>
								</div>
								
								<br class="clear">	
								<div class="form-group">
									<label class="control-label">Other Symptoms Associated with <b class="textRed" ng-bind="symptomFormArray[currentSymptomFormIndex].selectedLevelOneText"></b></label>
									<select
									data-ng-model="symptomFormArray[currentSymptomFormIndex].associatedSymptoms"  
									data-ng-change="setAssociatedSymptomsSelectedText()"
									data-ng-options="area.id as area.description for area in symptomFormArray[currentSymptomFormIndex].metadata.associatedSymptoms">
										<option value="">-- Select--</option>
									</select>
								</div>
								
                                <div class="text-center">
                                	<a data-ng-disabled="form.$invalid" data-ng-click="doneSymptomSelection()" id="btnAddSympStep1" class="btn btnOrange"><b class="fa fa-check-circle-o">
                                		</b> Done
                                	</a>
                                	<a data-ng-disabled="form.$invalid" data-ng-show="symptomFormArray.length < 3 && currentSymptomFormIndex + 1 == symptomFormArray.length" data-ng-click="addOtherSymptom()" class="btn btnOrange">
                                		<b class="fa fa-check-circle-o"></b> Add Other Symptom
                                	</a>
                                	<a 
                                		data-ng-show="(currentSymptomFormIndex == 0 && symptomFormArray.length >1) || (currentSymptomFormIndex == 1 && symptomFormArray.length > 2) || (currentSymptomFormIndex == 2 && symptomFormArray.length > 3)" 
                                		data-ng-click="removeThisSymptom(currentSymptomFormIndex)" class="btn btnOrange">
                                		<b class="fa fa-check-circle-o"></b> Remove This Symptom
                                	</a>
                                	<a data-ng-show="currentSymptomFormIndex +1 < symptomFormArray.length" 
                                	data-ng-click="setcurrentSymptomFormIndex(currentSymptomFormIndex +1)" class="btn btnOrange">
                                		<b class="fa fa-check-circle-o"></b> Next Symptom
                                	</a>
                                	<a id="btnAddSympStep1Close" class="btn btnGrey"><b class="fa fa-times-circle"></b> Cancel</a>
                            	</div>
                            </form>

<style>
	.custom-control{
		height: 26px !important;
		font-size: 12px !important;
	}

	.selected {
		background: #238C00 !important;
	}

</style>